/* NAVBAR */

.navbar {
  padding: 4rem 2rem 2rem 5rem;
  /* allows to have the nav links at the same level of the M logo */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-links ul {
  /* allows to have all the nav links inline (meaning on the same line) */
  display: inline-flex;
}

.nav-links ul a {
  color: grey;
  padding-left: 2rem;
}
