/* GENERAL */

/* Removing some default browers parameters */
* {
  /* text-decoration removes the underlines for links */
  text-decoration: none;
  /* list-style removes cheaps (puces) from lists */
  list-style: none;
}

/* CONTAINER */

.container {
  width: 1300px;
  margin: 40px auto;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.nav-links ul {
  /* allows to have all the nav links inline (meaning on the same line) */
  display: inline-flex;
}

.nav-links ul a {
  color: grey;
  padding-left: 2rem;
}

.nav-links ul a:hover {
  color: #f9a93a;
}


/* BANNER IMG */
.main-card img {
  width: 75%;
}
